$highlight: #ff6d00;
$softHighlight: #ffb680;
$primary: #246cb4;
$secondary: #002147;
$primaryDark: #081828;
$text: #ffffff;
$hover: #ffab00;
$backgroundDark: #21272B;
$timer: #23E8FD;
$backgroundDarkAlfa: rgba(0, 0, 0, 0.7);
$relatedHeader: $robotoLight;

