.video-js {
  .vjs-chromecast-button {
    font-family: Qubit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;

    position: absolute !important;
    right: 4em !important;

    &:before {
      content: "\f121";
    }

    .error {
      color: #c70000;
    }
  }
}

.cast-enabled {
  .vjs-captions-button,
  .vjs-subtitles-button {
    right: 8em;
  }

  .vjs-audio-button {
    right: 12em;
  }
}

.chromecast-connected {
  color: #fff;

  &:hover {
    color: #ff6d00;
  }

  &:before {
    content: "\f122";
  }
}
