.debug-panel {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 75%;
}
