.qubit-live .vjs-time-control {
  display: none !important;
}

@media (max-width: 600px) {
  .video-js .vjs-live-control {
    display: none;
  }
}

@media (max-width: 400px) {
  .video-js .vjs-volume-menu-button {
    display: none;
  }
}

.video-js {
  .vjs-forward-control, .vjs-rewind-control {
    visibility: visible !important;
  }

  .vjs-forward-control:before {
    color: deepskyblue !important;
    text-shadow: none !important;
    font-size: 14px  !important;
    content: '+30';
    position: relative !important;
  }

  .vjs-rewind-control:before {
    color: deepskyblue !important;
    text-shadow: none !important;
    font-size: 14px  !important;
    content: '-30';
    position: relative !important;
  }

  .vjs-forward-control:hover, .vjs-rewind-control:hover {
    cursor: pointer;
  }
}
