.vjs-menu li {
  font-family: $textFont;
  color: $text;
  font-weight: bold;

  &.vjs-menu-item {
    &:focus, &:hover {
      background-color: $primary;
      background-color: rgba($primary, 0.5);
    }
  }

  &.vjs-selected {
    font-family: $textFont;
    color: $text;
    background-color: $highlight;

    &:focus, &:hover {
      background-color: $highlight;
      color: $text;
    }

    &:before {
      display: inline-block;
      font-family: Qubit;
      font-size: 80%;
      width: 20%;
      position: absolute;
      left: 0;
    }
  }
}

.vjs-menu-button-popup .vjs-menu {
  border-top-color: rgba($primaryDark, 0.8);

  .vjs-menu-content {
    background-color: $primaryDark;
    background-color: rgba($primaryDark, 0.8);
    z-index: 90;
  }
}

.vjs-menu .vjs-menu-content {
  overflow: hidden;
}
