.ms-ie {
  .video-js {
    width: 100% !important;
    height: 100% !important;
  }

  .vjs-progress-control {
    left: 6% !important;
    width: 89% !important;
  }
}

.ms-edge {
  .video-js {
    width: 100% !important;
    height: 100% !important;
  }

  .vjs-progress-control {
    left: 6% !important;
    width: 89% !important;
  }
}
