.video-js .vjs-control-bar {
  z-index: 1;
}

.related-screen {
  background: $backgroundDarkAlfa;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  &.is-active {
    display: block;
  }
}

.big-related-round-button {
  opacity: 1!important;
  color: $text;
  text-decoration: none;
  border-radius: 50px;
  font-family: $textFont;
  float: right;
  margin-top: 2px;
  padding: 11px 14px;
  background-color: $backgroundDark;
  cursor: pointer;
}

.related-gallery {
  display: flex;
  justify-content: center;
  padding: 10%;
  .related-media-details {
    color: $text;
    font-family: $textFont;
    width: 28%;
    height: 265px;
    h1{
        font-family: $robotoMedium;
    }
    h3{
      overflow: hidden;
      font-size: 13px;
      font-family: $robotoLight;
      line-height: 1.3;

    }
    .related-round-button {
      opacity: 1!important;
      padding: 6px 7px;
      color: $text;
      text-decoration: none;
      border-radius: 50px;
      font-family: $textFont;
      float: right;
      margin-top: 2px;
    }
     .related-play-button {
      opacity: 1!important;
      padding: 10px 0;
      width: 80%;
      color: $text;
      background-color: $highlight;
      text-decoration: none;
      border-radius: 25px;
      display: inline-block;
        &:hover {
          background-color: $hover;
        }
        i {
            background-image: $play-related;
            background-repeat: no-repeat;
            margin-right: 32%;
            margin-left: 40%;
            display: block;
            height: 15px;
            font-style: normal;
            @media screen and (max-width: 1200px){
                margin-left: 36%;
                }
            }
        }
    }
}

.related-poster-container {
  margin-left: 15px;
  margin-right: 15px;
  img {
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
  }
}
.vjs-suggested-video-endcap-link {
  &:nth-of-type(4n), &:last-of-type {
    margin-right: 0;
  }
}

.related-margin-left {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.related-margin-right {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nodisplay {
  display: none;
}

.btn {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.not-fa {
  background-image: $not-fav;
  background-repeat: no-repeat;
  background-position: 2px 0;
  width: 20px;
  height: 21px;
  display: block;
  background-size: 85% auto;
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%;
}

.yes-fa {
  background-image: $yes-fav;
  background-repeat: no-repeat;
  background-position: 2px -23px;
  width: 20px;
  height: 21px;
  display: block;
  background-size: 85% auto;
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%;

}

.related-header {
  text-align: center;
  color: $text;
  font-size: 25px;
  font-family: $relatedHeader;
    @media screen and (max-width: 1200px){
        margin-top: 57px;
        font-size: 33px;
    }
}

.related-footer {
  text-align: center;
  color: $highlight;
  font-size: 15px;
  font-family: $textFont;
  margin-top: 6%; 
  text-decoration: none;
  visibility: visible;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 19%;
}
.active {
  background-color: $highlight;
}

.inactive {
  background-color: $secondary;
}

.next-episode {
  display: grid;
  justify-content: center;
  padding: 6%;
}

.episode-header {
  margin-bottom: 10%;
  font-size: 20px;
}

.serie-poster-img {
  margin-left: 22%;
  cursor: pointer;
}

.episode-timer {
  color: $timer
}

.outline-active {
  outline: 1px solid $highlight;
}

.outline-unset {
  outline: unset;
}

.related-overlay {
  background-color: $backgroundDarkAlfa;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 100%;

  .loading {
    width: $loading-gif-width;
    height: $loading-gif-height;
    background-repeat: no-repeat;
    background-image: $loading-gif;
  }
}

.related-h3-plot {
  overflow: hidden;
  font-size: 15px;
  @media screen and (max-width: 1200px){
    font-size: 12px;
  }
}

@media screen and (max-width: 925px)
{
  .related-play-button {
    width: 70%;
  }
  
  .play-icon {
    background-image: none;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 770px)
{
  .related-play-button {
    width: 60%;
  }
}

@media screen and ( max-height: 768px )
{
  .related-gallery {
    padding: 4%;
  }
}

@media screen and ( max-height: 635px )
{
  .related-gallery {
    padding: 2%;
  }
}

