@media only screen and (min-width: 480px) {
  .video-js .vjs-progress-control {
    left: 12%;
    width: 77%;
  }
}

@media only screen and (min-width: 640px) {
  .video-js .vjs-progress-control {
    left: 9%;
    width: 83%;
  }
}

@media only screen and (min-width: 800px) {
  .video-js .vjs-progress-control {
    left: 7%;
    width: 87%;
  }
}

@media only screen and (min-width: 1024px) {
  .video-js .vjs-progress-control {
    left: 5%;
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .video-js .vjs-progress-control {
    left: 4%;
    width: 92%;
  }
}
