.vjs-thumbnail-holder {
  pointer-events: none;
  position: absolute;
  width: 240px;
  height: 136px;
  left: -120px;
  bottom: 2.5em;
  background: #000;
  overflow: hidden;
}

.vjs-thumbnail {
  pointer-events: none;
  position: relative;
  width: 2400px;
  height: 1360px;
}

.vjs-thumbnail-loading {
  position: relative;
  width: 240px;
  height: 136px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $loading-gif-width $loading-gif-height;
  background-image: $loading-gif;
}

.vjs-thumbnail-holder-standalone {
  bottom: 1em;
  opacity: 0;
  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -mz-transition: opacity .2s ease;
}

.vjs-progress-control {
  /* fade in the thumbnail when hovering over the progress bar */
  /* .fake-active is needed for Android only. It's removed on touchend/touchecancel */
  &:hover .vjs-thumbnail-holder-standalone, &.fake-active .vjs-thumbnail-holder-standalone, &:active .vjs-thumbnail-holder-standalone {
    opacity: 1;
  }

  /* ... but hide the thumbnail when hovering directly over it */
  &:hover .vjs-thumbnail-holder-standalone:hover, &:active .vjs-thumbnail-holder-standalone:active {
    opacity: 0;
  }
}

