.video-js-title {
  position: absolute;
  font-family: 'Roboto-Regular', sans-serif;
  top: 20px;
  left: 20px;
  z-index: 9999999999;
  color: $text;

  .btn-back {
    color: $text;
    padding: 0 14px 0 0;
    width: 20px;
    height: 37px;
    background-image: $back-arrow;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 67%;
  }
  
  .text-back-button {
    font-size: 1.8em;
    color: $text;
  }
  
  h1 {
    margin: 0;
  }

  .btn-back, h1 {
    display: inline-block;
    float: left;
    margin: 0 0 0 16px;
  }

  .btn-back:hover {
    background-image: $arrow-hover;
  }
}
