video, .vjs-default-skin {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

::cue {
  background-color: transparent !important;
  text-shadow: 1px 1px 0.5px black !important;
}

video {
  &::cue {
    background-color: transparent !important;
    text-shadow: 1px 1px 0.5px black !important;
  }
  &::-webkit-media-text-track-background, &::-moz-media-text-track-background {
    color: transparent !important;
    background-color: transparent !important;
  }
}
