.video-js {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;

  .vjs-text-track {
    background-color: transparent;
    background-color: $highlight;
  }

  .vjs-big-play-button {
    border: 0.06666em solid $highlight;
    background-color: $primaryDark;
    background-color: rgba($primaryDark, 0.8);
  }

  &:hover .vjs-big-play-button, .vjs-big-play-button:focus {
    border-color: $highlight;
    background-color: $primary;
    background-color: rgba($primary, 0.5);
  }

  .vjs-control {
    color: $text;

    &:focus:before, &:hover:before, &:focus {
      text-shadow: 0em 0em 1em $highlight;
    }
    &.vjs-icon-skip-previous:not(.vjs-disabled), &.vjs-icon-fast-rewind:not(.vjs-disabled), &.vjs-icon-fast-forward:not(.vjs-disabled), &.vjs-icon-skip-next:not(.vjs-disabled) {
      cursor: pointer;
    }
    &:hover {
      color: $highlight;
    }
  }

  .vjs-control-bar {
    width: 92%;
    bottom: 4%;
    left: 4%;
    background-color: $primaryDark;
    background-color: rgba($primaryDark, 0.8);

    .vjs-progress-control.vjs-control .vjs-mouse-display,
    .vjs-duration.vjs-time-control.vjs-control div,
    .vjs-current-time.vjs-time-control.vjs-control div {
      font-family: $textFont;
    }
  }

  .vjs-progress-control {
    position: absolute;
    left: 17%;
    bottom: 3em;
    width: 68%;
  }

  .vjs-progress-holder .vjs-play-progress {
    background-color: $highlight;
  }

  .vjs-load-progress {
    background: $softHighlight;
    background: rgba($highlight, 0.5);
    div {
      background: white;
      background: rgba($highlight, 0.25);
    }
  }

  .vjs-progress-holder .vjs-play-progress:before {
    color: $highlight;
  }

  .vjs-progress-control .vjs-mouse-display {
    top: 15px;

    &:after {
      color: $text;
      background-color: $secondary;
    }
  }

  .vjs-slider {
    background-color: $secondary;

    &:focus {
      text-shadow: 0em 0em 1em $highlight;
      -webkit-box-shadow: 0 0 1em $highlight;
      -moz-box-shadow: 0 0 1em $highlight;
      box-shadow: 0 0 1em $highlight;
    }
  }

  .vjs-volume-level {
    background-color: $highlight;
  }

  .vjs-current-time {
    display: block;
    left: 0;
    bottom: 3em;
    position: absolute;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    color: $text;
  }

  .vjs-fullscreen-control {
    position: absolute;
    right: 0;
  }

  .vjs-captions-button,
  .vjs-subtitles-button {
    position: absolute;
    right: 4em;
  }

  .vjs-audio-button {
    position: absolute;
    right: 8em;
  }

  .vjs-play-progress:after {
    display: none;
  }

  .vjs-mouse-display .vjs-time-tooltip {
    color: $text;
    background-color: $secondary;
  }

  @keyframes vjs-spinner-fade {
      0% { border-top-color: $primary; }
     20% { border-top-color: $primary; }
     35% { border-top-color: white;    }
     60% { border-top-color: $primary; }
    100% { border-top-color: $primary; }
  }

  @-webkit-keyframes vjs-spinner-fade {
      0% { border-top-color: $primary; }
     20% { border-top-color: $primary; }
     35% { border-top-color: white;    }
     60% { border-top-color: $primary; }
    100% { border-top-color: $primary; }
  }
}

.vjs-dashjs-hide-errors .vjs-error-display {
  display: none !important;
}

.vjs-loading-spinner {
  border: 6px solid rgba($primaryDark, 0.8);
}

.vjs-current-time-display:hover, .vjs-duration-display:hover {
  color: $text;
}

.vjs-text-track-display {
  bottom: 6em;
}

.vjs-no-flex .vjs-current-time {
  display: block;
  position: absolute;
  left: 0;
  bottom: 3em;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  color: $text;
}

.video-js .vjs-duration, .vjs-no-flex .vjs-duration {
  display: block;
  position: absolute;
  right: 0;
  bottom: 3em;
  text-align: right;
  padding-left: 0;
  padding-right: 0;
  color: $text;
}

.vjs-caption-settings {
  background-color: $primaryDark;
  background-color: rgba($primaryDark, 0.8);
  color: $highlight;
}

.vjs-fluid .vjs-caption-settings {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vjs-desktop .vjs-big-play-centered .vjs-big-play-button {
  display: none;
}

.vjs-dashjs-hide-errors .vjs-error-display, .vjs-desktop .vjs-big-play-button {
  display: none !important;
}

#bandwidth-selector, .vjs-shaka-button .vjs-menu-button.vjs-menu-button-popup.vjs-control .vjs-icon-cog {
  display: none !important;
}
